$width: 65%;
$width-sm: 90%;
$primary-color: #00a4eb;
$background-color: #222;
$text-color: #fff;

//$primary-color: #f7580f;
// $background-color: #eee;
// $text-color: #000;
// $background-color-dark: #222;
// $text-color-dark: #fff;
