<div class='about-me'>
  <div class='image'>
    <img src='img/profile.png' alt='' />
  </div>
  <div class='description'>
    <h2>Fran Port</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore expedita possimus aperiam, obcaecati at harum natus odit voluptas modi maxime quod rem quasi cupiditate quas fugit
      placeat similique amet veniam?</p>
  </div>
</div>