<div class='container'>
  <h1 class='t-center'>Login to manage posts</h1>
  <form action='/users/login' method='post' class='user-form'>
    <img src='/img/profile.png' alt='' />
    <label for='username'>Enter your username:</label>
    <input type='text' name='username' id='username' />
    <label for='password'>Enter your password:</label>
    <input type='password' name='password' id='password' />
    <button type='submit' class='btn primary'>Login</button>
  </form>
</div>